//===============
// MIXINS
//===============
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

//===============
// STYLES
//===============
.toastify {
    position: fixed;
    width: 250px;

    &--top {
        top: 10px;
    }

    &--bottom {
        bottom: 10px;
    }

    &--left {
        left: 10px;
    }

    &--right {
        right: 10px;
    }

    .toast {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        color: white;
    }
}