//===============
// MIXINS
//===============
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($animations...) {
    -webkit-animation: $animations;
    -moz-animation: $animations;
    -o-animation: $animations;
    -ms-animation: $animations;
    animation: $animations;
}

@mixin border-radius($radius) {
    border-radius: $radius;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
}

//===============
// STYLES
//===============
.toastify {
    z-index: 10000;
    position: fixed;
    box-sizing: border-box;
    width: 250px;

    &--top {
        top: 10px;
    }

    &--bottom {
        bottom: 10px;
    }

    &--left {
        left: 10px;
    }

    &--right {
        right: 10px;
    }

    &__toast {
        @include border-radius(2px);
        box-sizing: border-box;
        margin-top: 2px;
        padding: 15px 20px;
        width: 100%;
        font-size: 1rem;
        color: white;
        word-wrap: break-word;
    }
}